<section class="todoapp">
  <header class="header">
    <md-card>
      <md-toolbar color="primary">To Dos</md-toolbar>
      <md-input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title"
                (keyup.enter)="addTodo()" minlength="1"></md-input>
      <button md-button class="add" color="primary" (click)="addTodo()">Add</button>
    </md-card>
  </header>
  <section class="main" *ngIf="todos.length > 0">
    <md-card>
      <ul class="todo-list">
        <app-todo *ngFor="let todo of todos"
                  [class.completed]="todo.complete"
                  [todo]="todo"
                  (remove)="removeTodo(todo)"></app-todo>
      </ul>
    </md-card>
  </section>
  <footer class="footer" *ngIf="todos.length > 0">
    <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
</section>
